<div>
  <p>login, biznosh</p>
  <div>
    <h2>Login Signup</h2>
  </div>
  <div>
    <form id="login-form">
      <div>
      <label>username</label>
      <input type="text" id="usernameInput"/>
      </div>
      <div>
      <label>password</label>
      <input type="text" id="passwordInput"/>
      </div>
      <button type="submit" id="loginBtn">Login</button>
      <a href="/signup">Signup</a>
    </form>
  </div>
</div>

<script src="/public/login.js"></script>