<div>
  <p>signup, biznosh</p>
  <div>
    <h2>Signup</h2>
  </div>
  <div>
    <form>
      <div>
      <label>username</label>
      <input type="text" id="usernameInput"/>
      </div>
        <div>
      <label>email</label>
      <input type="text" id="emailInput"/>
      </div>
      <div>
      <label>password</label>
      <input type="text" id="passwordInput"/>
      </div>
      <button type="submit" id="loginBtn">Signup</button>
      <a href="/signup">Signup</a>
    </form>
  </div>
</div>

<script src="/public/signup.js"></script>